* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f3f4;
  overflow-x: hidden;
}
nav {
  position: fixed;
  width: 18vw;
  height: 100vh;
  background-color: #252537;
}
main {
  min-height: 100vh;
  width: 82vw;
  float: right;
}
#logo {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 3vw;
  left: 2vw;
  position: relative;
  font-family: sans-serif;
}
#logo-div {
  width: 100%;
  border-bottom: 2px solid #484866;
  margin-top: 4vh;
}
.nav-list {
  list-style: none;
  margin-left: 2vw;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-size: 2vw;
  font-family: sans-serif;
  line-height: 20vh;
  width: 100%;
}
.list-item {
  transition: 0.5s;
}
.list-item:hover {
  transform: translateX(10px);
}
#lms {
  font-size: 2vw;
  color: white;
  margin-right: 1vw;
}
#ask {
  font-size: 2vw;
  color: white;
  margin-right: 1vw;
}
#title {
  font-size: 5vw;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  margin-top: 5vh;
}
.grid {
  display: grid;
  grid-row-gap: 15vh;
  grid-column-gap: 5vw;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 60vw;
  margin: 10vh auto;
}
.modules {
  width: 29vw;
  height: 25vh;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 43px;
  background: #f0f3f4;
  box-shadow: 5px 5px 8px #868889, -5px -5px 8px #ffffff;
  transition: 0.5s;
  animation: appear 1s;
}
.modules:hover {
  transform: translateY(-7px);
  cursor: pointer;
}
.module {
  text-decoration: none;
  color: #475ac4;
  font-size: 1.5vw;
  max-width: 20vw;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 18vw;
  top: 0;
  width: 82%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: scale 1s;
}

.modal-content {
  background-color: #f0f3f4;
  margin: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.module-info {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}
.name-module {
  text-align: center;
}
.overview {
  font-size: 1.3vw;
  margin-top: 2rem;
  line-height: 5vh;
}
footer {
  width: 82vw;
  height: 10rem;
  float: right;
  margin-top: 2rem;
  background-color: #252537;
}
.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  max-width: 50vw;
  margin: 1.3rem auto;
}
.footer-item {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}
.copyright {
  text-align: center;
  color: rgb(190, 190, 190);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media all and (max-width: 1400px) {
  .modules {
    width: 60vw;
  }
  .module {
    font-size: 3vw;
    max-width: 40vw;
  }
}
@media all and (max-width: 800px) {
  .modules {
    width: 60vw;
  }
  .module {
    font-size: 3vw;
    max-width: 40vw;
  }
  .overview {
    font-size: 2vw;
    line-height: 3vh;
  }
  .footer-item {
    font-size: 2vw;
  }
}
@media all and (max-width: 600px) {
  #title {
    font-size: 7vw;
  }
}
@media all and (max-width: 400px) {
  .module {
    font-size: 4vw;
    max-width: 50vw;
  }
  .overview {
    font-size: 3vw;
    line-height: 2vh;
  }
  .footer-item {
    font-size: 3vw;
  }
  .footer-list {
    max-width: 70vw;
  }
}
